# Frontend dependencies
node_modules/
dist/
dist-ssr/
build/

# Logs
/logs/
*.log
npm-debug.log*

# Environment & Secrets
.env
.env.*
!.env.example
*.local

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.history/
.DS_Store

# Test / coverage artifacts
coverage/

# Temporary files
tmp/
temp/

# Unnecessary files
CLAUDE.md
